# Dvc tracked files
data/**/*.mp4
data/**/*.npy
data/**/*.npz

data/keyboard_tracking/raw/*/
data/keyboard_tracking/blend_files/assets
data/keyboard_tracking/blend_files/keyboard_scenes.blend

**/*.blend[0-9]*

# Python
**/__pycache__

# direnv
.envrc
